<div class="main">
<table class="col1" *ngIf="getDishesToOrder().length > 0">
  <caption>Shopping Cart</caption>
  <tbody>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th colspan="2"></th>
  </tr>
  <tr *ngFor="let dishToOrder of getDishesToOrder()">
    <td>{{dishToOrder.name}}</td>
    <td>{{dishToOrder.price}} zł</td>
    <td>{{dishToOrder.numberOfOrders}}</td>
    <td>
      <button *ngIf="router.url !== '/summary' " class="button btn red card-4"
              (click)="(decrementQuantity(dishToOrder))">-
      </button>
    </td>
    <td>
      <button *ngIf="router.url !== '/summary' " class="button btn red card-4"
              (click)="deleteDishFromDishesToOrder(dishToOrder)">x
      </button>
    </td>
  </tr>
  </tbody>
  <tr>
    <td class="noBottomBorder">
      Amount to pay: {{getAmountToPay()}} zł
    </td>
  </tr>
  <button *ngIf="router.url !== '/summary'" class="button red card-4" routerLink="/summary">Order</button>
</table>
</div>
