<div class="wrapper">
  <header class="header">
    <app-login></app-login>
  </header>
  <table class="navBar">
    <tr>
      <td>
        <a routerLink="dishes/all" routerLinkActive="selected">Home</a>
      </td>
      <td>
        <a *ngIf="userService.authenticatedUser" routerLink="order-list" routerLinkActive="selected">Order List</a>
      </td>
      <td>
        <a routerLink="dishes/pizza" routerLinkActive="selected">Pizza</a>
      </td>
      <td>
        <a routerLink="dishes/spaghetti" routerLinkActive="selected">Spaghetti</a>
      </td>
      <td>
        <a routerLink="dishes/beverage" routerLinkActive="selected">Beverages</a>
      </td>
    </tr>
  </table>
  <article class="main">
    <router-outlet></router-outlet>
  </article>
</div>



