<div class="wrapper">
  <header class="header">Header</header>
  <table class="navBar">
    <tr>
      <td>
        <a routerLink="dishes/all" routerLinkActive="selected">Home</a>
      </td>
      <td>
        <a routerLink="dishes/pizza" routerLinkActive="selected">Pizza</a>
      </td>
      <td>
        <a routerLink="dishes/spaghetti" routerLinkActive="selected">Spaghetti</a>
      </td>
      <td>
        <a routerLink="dishes/beverage" routerLinkActive="selected">Beverages</a>
      </td>
    </tr>
  </table>
  <article class="main">
    <aside class="aside aside-1">
      <app-shopping-cart></app-shopping-cart>
    </aside>
    <p>
      <router-outlet></router-outlet>
    </p>

  </article>

  <footer class="footer">Footer</footer>
</div>



