
.navBar{
  left: 0;
  width: 100%;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

a {
  color:#FFFFFF;
  display: block;
  text-decoration: none;
}

a:hover {
  color: #212121;
  background: var(--primaryBackgroundColor);
  text-decoration: none;
}

a.selected {
  color: #212121;
  background: var(--primaryBackgroundColor);
  text-decoration: none;
}
